@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

$font = 'Nunito', sans-serif
$black = #212121
$green = #2BBBAD
$white = #FFFFFF

*
  box-sizing: border-box

a, a:focus, a:hover
  text-decoration: none

h1, h2, h3, h4, h5
  margin: 0

@keyframes grow {
  0%, 75% {
    transform: scale(1);
    opacity: 0;
    color: #fafafa
  }
  90% {
    transform: scale(1.8);
    opacity: 1;
    color: #212121
  }
  100% {
    transform: scale(1);
    transform: rotate(18degs)
    opacity: 0;
    color: #fafafa
  }
}

body
  font-family: $font
  font-size: 18px
  margin: 0
  padding: 0
  background: #fcfcfc
  color: #414141

.infinity__section
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  width: 100wv
  height: 100vh
  font-weight: 400

.infinity__image
  width: 500px
  height: auto

.infinity__title
  font-weight: 400
  letter-spacing: 10px
  animation: grow 1.5s linear infinite

.reservation__form
  background: #FFFFFF
  box-shadow: 0 2px 4px rgba($black, 0.3)
  min-width: 400px
  padding: 25px 40px

.SingleDatePicker
  width: 100%

.rms-caret
  display: none !important

.rms-text span
  padding-left: 14px!important
  font-size: 18px !important
  font-weight: 200 !important
  border: 1px solid #dbdbdb !important
  line-height: 24px !important
  color: #757575 !important
  padding: 11px 0 11px 14px !important

.rms-item:nth-child(1)
  display: none !important

.input__field
  position: relative
  input
    display: block
    margin-bottom: 20px
    padding: 10px 0
    line-height: 24px
    font-size: 1rem
    border: none
    border-bottom: solid 2px #ccc
    transition: 0.4s ease-in-out
    width: 100%
    padding-left: 5px
    &:focus
      outline: none
      border-bottom: solid 2px $green

  label
    position: absolute
    top: 11px
    left: 3px
    pointer-events: none
    transition: 0.3s ease-in-out
    &.dirty__input
      top: -11px
      transform: scale(0.7)
      color: $green
      font-weight: bold
      letter-spacing: 2px
      left: -10px

.submit__button
  border: solid 2px darken($green, 5%)
  background: $green
  color: $white
  border-radius: 0
  width: 100%
  padding: 10px 0
  font-size: 1.1rem
  letter-spacing: 4px
  font-family: $font
  text-transform: uppercase
  transition: 0.2s ease-in-out
  display: block
  text-align: center
  &.fb__button
    background: #3d5c95
    border-color: #3d5c95
  &:hover
    opacity: 0.6

.separator
  width: 100%
  height: 2px
  background: rgba(#ccc, 0.4)
  margin: 2rem 0

.centered
  text-align: center

.page__link
  display: inline-block
  text-transform: uppercase
  letter-spacing: 1px
  border-bottom: 1px solid #ccc

p
  font-size: 1rem

.fixed__header
  background: #212121
  color: #fcfcfc
  position: fixed
  top: 0
  left: 0
  right: 0
  width: 100%
  .container
    display: flex
    width: 100%
    .brand__link
      flex: 1
      display: flex
      justify-content: center
      align-items: center
      font-size: 1.1rem
    a
      color: #fcfcfc
      padding: 18px 30px
      display: block
      font-size: 0.8rem
      letter-spacing: 3px
    ul
      flex: 6
      list-style: none
      display: flex
      text-align: right
      justify-content: flex-end

.container
  padding: 0 120px

.error__message
  text-align: center
  font-size: 0.8rem
  font-weight: bold
  letter-spacing: 2px
  color: red
