@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
a,
a:focus,
a:hover {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}
body {
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  margin: 0;
  padding: 0;
  background: #fcfcfc;
  color: #414141;
}
.main__section {
  padding-top: 40px;
}
.reservation__form {
  background: #fff;
  -webkit-box-shadow: 0 2px 4px rgba(33,33,33,0.3);
          box-shadow: 0 2px 4px rgba(33,33,33,0.3);
  min-width: 400px;
  padding: 25px 40px;
}
.reservation__form h1 {
  font-size: 2rem;
}
.faux__label {
  color: #9e9e9e;
  font-size: 1rem;
}
nav .brand-logo {
  font-size: 1.1rem;
  letter-spacing: 3px;
  color: #2bbbad;
}
nav ul a {
  letter-spacing: 3px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  padding: 0 30px;
}
nav ul a:hover {
  background: rgba(255,255,255,0.05);
  color: #2bbbad;
}
.submit__button {
  border: solid 2px #29b2a4;
  background: #2bbbad;
  color: #fff;
  border-radius: 0;
  width: 100%;
  padding: 10px 0;
  font-size: 1.1rem;
  letter-spacing: 4px;
  font-family: 'Nunito', sans-serif;
  text-transform: uppercase;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  display: block;
  text-align: center;
}
.submit__button.fb__button {
  background: #3d5c95;
  border-color: #3d5c95;
}
.submit__button:hover {
  opacity: 0.6;
}
.secondary__button {
  background: #3498db;
  border-radius: 2;
  border-color: #3498db;
}
.secondary__button:hover {
  background: #2980b9;
}
.progress {
  margin: 1.6rem 0;
  background: rgba(204,204,204,0.4);
}
.centered {
  text-align: center;
}
.page__link {
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-bottom: 1px solid #ccc;
}
p {
  font-size: 1rem;
}
.black__back {
  background: #212121;
}
.error__message {
  text-align: center;
  font-size: 0.8rem;
  font-weight: bold;
  letter-spacing: 2px;
  color: #e74c3c;
}
a.color__red {
  color: #e74c3c;
}
a.color__grey {
  color: #9e9e9e;
}
label {
  pointer-events: none;
}
p label {
  pointer-events: auto;
}
